.error {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--gradient-slanted-solid);
}

.error-label {
    text-align: center;
    font-size: 64px;
}