.footer-global {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--green-solid);
    box-shadow: 0 0 5px var(--dark-shade-low);
    padding-bottom: 10px;
    padding-top: 10px;
}

.footer-global.bg-none {
    background: none;
}

.footer-global label, a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.footer-link {
    font-size: 14px;
    border-radius: 5px;
    padding: 5px;
    text-decoration: underline;
    transition: background-color 0.3s ease;
}

.footer-link:hover {
    background-color: var(--dark-shade-low);
    cursor: pointer;
}

.footer-wrapper {
    width: 270px;
    max-width: 90%;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.footer-wrapper label, a {
    width: fit-content;
}

.footer-label {
    font-size: 14px;
    font-weight: 550;
}

.footer-text {
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: background-color 0.3s ease;
}

.footer-text:hover {
    background-color: var(--dark-shade-low);
}