.nav {
    position: sticky;
    top: 0;
    width: calc(100% - 10px);
    z-index: 9;
    display: flex;
    padding: 5px;
    background-color: var(--white);
    box-shadow: 0 5px 5px var(--dark-shade-low);
    justify-content: space-between;
    align-items: center;
}

.nav.right {
    justify-content: right;
}

.nav.admin {
    justify-content: right;
}

.logo {
    width: 24px;
    height: 24px;
    padding-right: 3px;
}

.logo.n-p {
    padding-right: 0;
}

.nav-button {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: left;
    color: var(--black);
    outline: none;
    font-weight: 500;
    background-color: transparent;
    border: none;
    border-radius: 100px;  
    padding: 8px;
    margin-right: 5px;
    transition: background-color 0.3s ease, 
        color 0.3s ease, 
        opacity 0.3s ease;
}

.nav-button.margin {
    margin-left: 5px;
}

.nav-button.black {
    color: var(--black);
}

.nav-button.white {
    padding: 10px;
    margin: 0;
    color: var(--white);
}

.nav-button.bg-none {
    background: none;
}

.nav-button.bg-none:hover {
    background-color: transparent;
}

.nav-button.none {
    display: none;
}

.nav-button.nav-button.small-g {
    font-size: 14px;
}

.nav-button.large {
    color: var(--white);
    font-weight: 600;
    font-size: 24px;
}

.nav-button.large.n-m {
    margin-right: 0;
}

.nav-button.medium {
    font-size: 18px;
}

.nav-button.medium.fit {
    width: 100%;
    border-radius: 5px;
}


.nav-button.medium.display-none {
    display: none;
}

.nav-button.small {
    padding: 5px;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    width: 75px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}

.nav-button.small.mg-btm {
    margin-bottom: 8px;
    width: 90px;

}

.nav-button.small.g {
    background-color: var(--dark-shade-low);
    color: var(--black);
}

.nav-button.dark {
    font-weight: 400;
    color: var(--white);
    background-color: var(--dark-shade-low);
}

.nav-button.fit-content {
    width: fit-content;
    min-width: 80px;
}

.nav-button:hover {
    background-color: var(--dark-shade-low);
    cursor: pointer;
}

.nav-button.small.fit {
    padding: 2px;
    background: none;
    justify-content: left;
    width: 100%;
}

.nav-button.small.fit:hover {
    background-color: var(--dark-shade-low);
}

.nav-button.small-g.admin {
    color: var(--green-solid);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-button.small-g.admin:focus {
    background-color: var(--green-solid);
    color: var(--white);
}

.nav-button.small-g.admin:hover {
    background-color: var(--green-solid);
    color: var(--white);
}

.search {
    height: 35px;
    width: 100%;
    font-size: 16px;
    outline: none;
    border-width: 0;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    color: var(--black);
    background-color: var(--dark-shade-low);
}

.nav-button:active {
    opacity: 0.8;
}

.floating-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    margin: none;
    padding: none;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
}

.chevron {
    transition: transform 0.3s ease;
}

@media (max-width: 600px) {
    .nav-button.medium.display-none {
        display: block;
    }

    .nav.admin {
        justify-content: space-between;
    }

    #search-drop-down {
        display: none;
    }
}