.settings-modal {
    position: fixed;
    width: 300px;
    max-width: 95%;
    height: fit-content;
    max-height: 95%;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 5px;
    top: 50%;
    left: 50%;
    opacity: 0;
    z-index: 18;
    transform: translate(-50%, -50%) scale(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.settings-modal .or {
    font-size: 9px;
    text-align: center;
    margin-bottom: 8px;
}

.settings-modal.active {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.settings-modal .action-button {
    height: 28px;
    width: calc(100% - 20px);
    margin-bottom: 8px;
    margin-left: 10px;
    margin-right: 10px;
    border-width: 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black);
    background-color: var(--dark-shade-low);
}

.settings-modal .action-button img {
    width: 18px;
    height: 18px;
}

.settings-modal .action-button.red {
    background-color: rgb(158, 62, 78);
    color: var(--white);
}

.settings-modal .action-button:hover {
    cursor: pointer;
}

.settings-modal input {
    height: 24px;
    width: calc(100% - 30px);
    outline: none;
    margin-bottom: 8px;
    margin-left: 10px;
    margin-right: 10px;padding: 5px;
    border-width: 0;
    border-radius: 5px;
    color: var(--black);
    background-color: var(--dark-shade-low);
}

.settings-modal input::placeholder {
    color: var(--black);
}
