.landing-page-content {
    flex-basis: calc((100% / 2) - 60px);
    height: 500px;
    display: flex;
    margin: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-page-content.admin {
    width: calc(100% - 60px);
    height: fit-content;
    border-radius: 5px;
    background: var(--dark-shade-low);
    padding-top: 30px;
    padding-bottom: 30px;
}

.landing-page-label {
    display: block;
    text-align: center;
    font-size: 54px;
    font-weight: 700;
}

.landing-page-label.medium {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}

.landing-page-label.small {
    min-width: 200px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
}