.dashboard {
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 60px;
    height: 100%;
    z-index: 20;
    background-color: var(--green-solid);
    opacity: 1;
    overflow: hidden;
    transform: scaleX(1);
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease;
}

.dashboard:hover {
    width: 200px;
    position: fixed;
}

.dashboard:focus {
    width: 200px;
    position: fixed;
}

.dashboard.active {
    transform: scale(1);
}

.dashboard .header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
}

.dashboard button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 8px;
    background-color: var(--dark-shade-low);
    color: var(--white);
    transition: background-color 0.3s ease;
}

.dashboard button:hover {
    cursor: pointer;
}

.dashboard button label {
    cursor: inherit;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 15px;
    height: 24px;
    color: var(--shite);
}

.dashboard button label.lg {
    width: fit-content;
    margin-left: 18px;
    margin-right: 18px;
    font-size: 24px;
}

.dashboard button label.lg.two {
    margin-left: 20px;
}

.dashboard label {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 12px;
}
