.pin-container {
    width: calc(100% - 20px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    gap: 8px;
    overflow-y: auto;
}

.pin-container .pin {
    display: flex;
    width: 200px;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    border-radius: 5px;
    bottom: 0;
    background-color: var(--green);
    box-shadow: 0 0 5px var(--dark-shade-low);
    transition: border-radius 0.3s ease, bottom 0.3s ease;
}

.pin label {
    color: var(--white);
    cursor: inherit;
    font-weight: 700;
    margin: 5px;
    text-align: left;
}

.pin label.header {
    width: calc(100% - 40px);
    margin: 0;
    padding: 20px;
    font-size: 18px;
}

.pin label.title {
    padding: 5px;
    font-size: 24px;
    font-weight: 500;
}

.pin label.author {
    padding: 5px;
    margin: none;
    font-weight: 300;
    font-size: 14px;
}

.pin label.genre {
    padding: 5px;
    margin: none;
    font-weight: 400;
    font-size: 14px;
}

.pin-container .pin.small {
    height: 220px;
}

.pin-container .pin.medium {
    height: 280px;
}

.pin-container .pin.large {
    height: 300px;
}

.pin-container .pin:hover {
    cursor: pointer;
    bottom: 5px;
    border-radius: 15px;
}

.loader {
    margin: 5px;
    width: calc(100% - 10px);
    border-radius: 5px;
    animation: loader 1.5s ease-in-out infinite;
}

.loader.title {
    height: 18px;
}

.loader.author {
    height: 14px;
    width: 50%;
}

.loader.half {
    width: 50%;
}

@keyframes loader {
    0% {
        background-color: var(--dark-shade-low);
    }
    50% {
        background-color: var(--dark-shade-high);
    }
    100% {
        background-color: var(--dark-shade-low);
    }
}