.pin-container {
    display: flex;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pin-container .pin {
    width: 220px;
    display: flex;
    position: relative;
    margin: 10px;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    bottom: 0;
    background-color: rgb(235, 235, 235);
    transition: border-radius 0.3s,
        bottom 0.3s;
}

.pin label {
    cursor: inherit;
    font-weight: 700;
    margin: 5px;
    text-align: left;
}

.pin label.header {
    width: calc(100% - 40px);
    margin: 0;
    padding: 20px;
    font-size: 28px;
}

.pin label.title {
    padding: 5px;
    font-size: 24px;
    font-weight: 500;
}

.pin label.author {
    padding: 5px;
    margin: none;
    font-weight: 300;
    font-size: 14px;
}

.pin label.genre {
    padding: 5px;
    margin: none;
    font-weight: 400;
    font-size: 14px;
}

.pin-container .pin.small {
    height: 220px;
}

.pin-container .pin.medium {
    height: 280px;
}

.pin-container .pin.large {
    height: 300px;
}

.pin-container .pin:hover {
    cursor: pointer;
    bottom: 10px;
    border-radius: 15px;
}


