.pin-container {
    display: flex;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 8px;
}

.pin-container .pin {
    width: 246px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    bottom: 0;
    background-color: var(--dark-shade-low);
    transition: border-radius 0.3s ease;
}

.pin label {
    cursor: inherit;
    font-weight: 700;
    margin: 5px;
    text-align: left;
}

.pin label.header {
    width: calc(100% - 40px);
    margin: 0;
    padding: 20px;
    font-size: 18px;
}

.pin label.title {
    padding: 5px;
    font-size: 24px;
    font-weight: 500;
}

.pin label.author {
    padding: 5px;
    margin: none;
    font-weight: 300;
    font-size: 14px;
}

.pin label.genre {
    padding: 5px;
    margin: none;
    font-weight: 400;
    font-size: 14px;
}

.pin-container .pin.small {
    height: 220px;
}

.pin-container .pin.medium {
    height: 280px;
}

.pin-container .pin.large {
    height: 300px;
}

.pin-container .pin:hover {
    cursor: pointer;
    border-radius: 15px;
}


