.sign-in {
    width: fit-content;
    height: fit-content;
    min-width: 270px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    top: 50%;
    left: 50%;
    z-index: 12;
    border-radius: 5px;
    background-color: var(--white);
    color: var(--black);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.sign-in.active {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);  
}

.or-label {
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 500;
}

.google-button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.google-button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
