.splash-screen {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    transform: scale(0);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 25;
    padding-bottom: 20px;
    background: var(--green-solid);
    overflow: hidden;
    animation: loading 5s ease infinite;
}

.splash-screen.active {
    transform: scale(1);
}

.splash-screen .text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splash-screen-logo {
    height: 150px;
    width: 150px;
    display: flex;
    color: var(--white);
}

.splash-screen-label {
    color: var(--white);
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-self: center;
    text-align: center;
}

.splash-screen-text {
    color: var(--white);
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-self: center;
    text-align: center;
}

.spinner {
    color: var(--white);
    font-size: 50px;
    width: fit-content;
    align-self: center;
    margin-top: 25px;
    margin-bottom: 25px;
    animation: infiniteRotate 2s linear infinite;
}