:root {
    --green: #367B4DCC;
    --yellow: #D8DB5Dcc;

    --yellow-solid: #D8DB5D;
    --green-solid: #367B4D;

    --dark-shade: rgba(0, 0, 0, 0.2);
    --dark-shade-mid: rgba(0, 0, 0, 0.13);
    --dark-shade-low: rgba(0, 0, 0, 0.1);
    --dark-shade-high: rgba(0, 0, 0, 0.2);

    --white-shade: rgba(255, 255, 255, 0.5);

    --place-holder: rgba(235, 235, 235, 0.5);
    --overlay: rgba(0, 0, 0, 0.5);

    --white: rgb(255, 255, 255);
    --black: rgb(80, 80, 80);

    --gradient-horizontal-solid: linear-gradient(180deg, var(--green-solid) 49.5%, var(--yellow-solid) calc(49.5% + 1px));
    --gradient-vertical: linear-gradient(120deg, var(--green) 49.5%, var(--yellow) calc(49.5% + 1px));
    --gradient-semi-vertical-solid: linear-gradient(90deg, var(--yellow-solid) 49.5%, var(--green-solid) calc(49.5% + 1px));
    --gradient-slanted: linear-gradient(120deg, var(--yellow-solid) 49.5%, var(--green-solid) calc(49.5% + 1px));

    --mobile: 600px;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

html, body {
    width: 100%;
    height: fit-content;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
}

a {
    text-decoration: none;
}

body.admin {
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
}

body.form {
    height: 100%;
}

html.form {
    height: 100%;
}

html.admin {
    height: 100%;
    width: 100%;
}

body.w-bg {
    background-position: center;
    background-image: url("../images/school.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    color: var(--white);
}

.main-header {
    width: 100%;
    height: fit-content;
    background-color: var(--green-solid);
    color: var(--white);
}

.overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
    right: 0;
    background-color: var(--overlay);
    pointer-events: none;
    transition: opacity 1s;
}

.overlay.second {
    z-index: 16;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

.main {
    width: 100%;
    height: fit-content;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    background: var(--gradient-slanted);
}

.main.admin {
    width: calc(100% - 50px);
    max-height: fit-content;
    background: var(--gradient-slanted);
    flex-direction: column;
}

.main.landing {
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    background: var(--gradient-vertical);
}

.content {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.content.center {
    justify-content: center;
    align-items: center;
}

.content.center-horizontal {
    align-items: center;
}

.content .label.small {
    text-align: left;
    font-weight: 500;
    font-size: 24px;
}

.content .label {
    text-align: center;
    font-size: 44px;
    font-weight: 700;
    margin: 8px;
}

.content .label.center {
    display: flex;
    justify-content: center;
}

.content img {
    object-fit: cover;
    border-radius: 10px;
}

.hide {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-100%);
}

.show {
    animation: animateX 0.3s ease;
    animation-fill-mode: forwards;
}

@keyframes infiniteRotate {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(-180deg);
    }
}

@keyframes animateX {
    0% {
        opacity: 0;
        filter: blur(3px);
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0%);
    }
}