.toast-message {
    width: 250px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-shade-high);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    top: -25%;
    left: 50%;
    border-radius: 10px;
    z-index: 23;
    transition: opacity 0.3s ease, transform 0.3s ease, top 0.3s ease;
}

.toast-message.active {
    top: 10%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.toast-message .message {
    font-weight: 500;
    font-size: 14px;
    padding: 10px;
}

.toast-message button {
    margin-right: 10px;
    margin-left: 10px;
    padding: 8px;
    border-radius: 50px;
    border-width: 0;
    background-color: var(--dark-shade);
    color: var(--white);
    transition: box-shadow 0.3s ease;
}

.toast-message button:hover {
    cursor: pointer;
    box-shadow: 0 0 5px var(--dark-shade);
}